.footer-section{
    padding-bottom: 50px;
    padding-top: 50px;
}
.footer-section h6{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 40px;
}
.footer-section img{
    width: 150px;
    height: 70px;
}
img.apple {
    height: 58px;
    padding-top: 11px;
}