.blog-1, .blog-2{
    padding:15px;
    box-shadow: 0px 0px 10px gray;
}
.blog-1{
    border-top: 5px solid blueviolet;
}
.blog-2{
    border-top: 5px solid skyblue;
}
.blog-1 img, .blog-2 img{
    border-radius: 50%;
}
.blog-section{
    padding-top: 130px;
    padding-bottom: 130px;
}
.blog-section h1{
    font-family: 'Kaushan Script', cursive;
    padding-bottom: 70px;
}